decision_matrix.Rd
gain_matrix.Rd
get_all_default_rps.Rd
get_all_userids.Rd
get_attr_values.Rd
get_attr_weight.Rd
get_normalized_vec.Rd
get_rounds_by_ID.Rd
loss_matrix.Rd
powerful_function.Rd
ref_points.Rd
