# Exceptions
!new_BA.RData

#Seminar and paper files, stored in the Cloud - G Drive
/Seminar Files
.log
.Rmd
.tex

#BA files used for writing and Dependencies
/BAFiles

# History files
#.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user
